name: Build and Deploy Docker Image 

on:
  workflow_call:
    inputs:
      service-name:
        description: 'Nome do Serviço'
        required: true
        type: string
      docker-hub-repo:
        description: 'Repositório no Docker Hub'
        required: true
        type: string
    secrets: 
      DOCKER_HUB_USER:
        required: true
      DOCKER_HUB_TOKEN:
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and push
      run: |
        docker build -t $DOCKE_HUB_REPO:$IMAGE_TAG .
        # cd $SERVICE_NAME
        # echo $SERVICE_NAME:$IMAGE_TAG
        # docker push $SERVICE_NAME:$IMAGE_TAG
      env:
        SERVICE_NAME: ${{ github.event.inputs.service-name }}
        DOCKER_HUB_REPO: ${{ github.event.inputs.docker-hub-repo }}
        IMAGE_TAG: latest